<div class="yui-gc">
  <div class="yui-u first">
    <%- locals = {:f => f} %>
    <%= hook :admin_product_form_left, locals do %>
      <%= f.field_container :name do %>
        <%= f.label :name, t("name") %> <span class="required">*</span><br />
        <%= f.text_field :name, :class => 'fullwidth title'  %>
        <%= f.error_message_on :name %>
      <% end %>

      <%= f.field_container :permalink do %>
        <%= f.label :permalink, t("permalink") %> <span class="required">*</span><br />
        <%= f.text_field :permalink, :class => 'fullwidth title'  %>
        <%= f.error_message_on :permalink %>
      <% end %>

      <%= f.field_container :description do %>
        <%= f.label :description, t("description")%><br />
        <%= f.text_area :description, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
        <%= f.error_message_on :description %>
      <% end %>
    <% end %>
  </div>
  <div class="yui-u">
    <%= hook :admin_product_form_right, locals do %>
      <%= f.field_container :price do %>
        <%= f.label :price, t("master_price")%> <span class="required">*</span><br />
        <%= f.text_field :price, :value => number_with_precision(@product.price, :precision => 2)  %>
        <%= f.error_message_on :price %>
      <% end %>

      <%= f.field_container :cost_price do %>
        <%= f.label :cost_price, t("cost_price")%><br />
        <%= f.text_field :cost_price, :value => number_with_precision(@product.cost_price, :precision => 2) %>
        <%= f.error_message_on :cost_price %>
      <% end %>

      <p>
        <%= f.label :available_on, t("available_on") %><br />
        <%= f.error_message_on :available_on %>
        <%= f.spree_date_picker :available_on %>
      </p>

      <p>
        <%= f.label :sku, t("sku") %><br />
        <%= f.text_field :sku, :size => 16 %>
      </p>

      <p>
        <%= f.label :outbound_link, t("outbound_link") %><br />
        <%= f.text_field :outbound_link %>
      </p>
      
    <% end %>
    <p>
      <%= f.label "Item Type"%><br />
      <%= f.select(:type_code, [['Suit', 'A'], ['Dress Shirt', 'B'], ['Tie', 'C'], ['Blazer/Sport Jacket...', 'D'], ['Trouser/Suit Pant', 'E']]) %>
    </p>

    <p>
      <%= f.label "Item Style"%><br />
      <%= f.select(:style_code, [['Light Base No Pattern', '1'], ['Light Base Light Pattern', '2'], ['Light Base Heavy Pattern', '3'], ['Dark Base No Pattern', '4'], ['Dark Base Light Pattern', '5'], ['Dark Base Heavy Pattern', '6'], ['Solid, Light Base No Pattern', '1L'], ['Solid, Dark Base No Pattern', '1D'], ['Uniform Geometric Pattern, Light Base', '2L'], ['Uniform Geometric Pattern, Dark Base', '2D'], ['Power Stripes, Light Primary Base', '3L'], ['Power Stripes, Dark Primary Base', '3D'], ['Paisley, Light Base', '4L'], ['Paisley, Dark Base', '4D'], ['Narrow Stripe, Light Primary Base', '5L'], ['Narrow Stripe, Dark Primary Base', '5D']]) %>
    </p>

  </div>
</div>

<h2><%= t("metadata") %></h2>
<%= hook :admin_product_form_meta, locals do %>
  <p>
    <%= f.label :meta_keywords, t("meta_keywords")%><br />
    <%= f.text_field :meta_keywords, :class => 'fullwidth' %>
  </p>
  <p>
    <%= f.label :meta_description, t("meta_description")%><br />
    <%= f.text_field :meta_description, :class => 'fullwidth' %>
  </p>
<% end %>


<%= hook :admin_product_form_additional_fields, locals do %>
  <% Variant.additional_fields.select{|af| af[:only].nil? || af[:only].include?(:product) }.each do |field| %>
    <%= render :partial => "admin/shared/additional_field", :locals => {:field => field, :f => f} %>
  <% end %>
<% end %>
